.mid1 {
	Margin-left: 500px;
	float: left;
}

.mid2, .mid3 {
	float: left;
	margin-left: 5px;
}

.background {
	margin: auto;
	width: 50%;
	text-align: center;
}

body {
	background-color: #202225;
}

.build-body {
	margin-left: 500px;
	margin-right: 500px;
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, p {
	color: #ffffff;
}

.mt-n10 {
	margin-top: -240px;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 3;
}

p.material {
	padding-left: 50px;
	padding-top: 120px;
	width: 270px;
}
