.mid {
	margin-left:500px;
	background-color: red;
	height: 500px;
	width: 300px;
}

.mid1 {
	Margin-left: 500px;
	float: left;
}

.mid2, .mid3 {
	float: left;
	margin-left: 5px;
}

.background {
	margin: auto;
	width: 50%;
	text-align: center;
}

body {
	background-color: #202225;
}

.build-body {
	margin-left: 500px;
	margin-right: 500px;
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, p {
	color: #ffffff;
}

img.material {
	float: right;
	margin-top: -200px;
	margin-right: 150px;
}

.navbar {
	position: sticky;
	top: 0;
}

p.material {
	padding-left: 50px;
	padding-top: 120px;
	width: 300px;
}